/* App.css */
html, body {
  overflow-x: hidden;
}
body {
  background-color: #f0f0f0; /* Your background color */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

.full-page-wrapper {
  display: flex;
  flex-direction: column;
  /*flex-direction: row;*/
  min-height: 100vh; /* Full viewport height */
  /*min-width: 100%;*/
}

.App {
  flex: 1; /* Makes the content area take the remaining space */
  display: flex; /* Enable flexbox for the main content area */
  /*width: 100%;*/
}

.content-container {
  flex: 1; /* This will allow the body to fill the remaining space */
  background-color: #2c2c2c; /* Dark background for a modern tech look */
  color: #ffffff; /* White text for readability */
  padding: 0 20px; /* Add horizontal padding for content */
  box-sizing: border-box; /* Include padding in width calculations */
}

.content-container.full-width {
  padding: 0; /* Remove padding for full-width pages */
  background-color: #2c2c2c; /* You can change this to a different color if needed */
}

.home-logo {
  position: fixed;
  top: 10px;
  left: 10px;
  font-size: 3em; /* Adjust the font size as needed */
  text-decoration: none; /* Removes the underline */
  display: inline-block; /* Ensures the logo behaves like a block element */
}

.home-logo:hover {
  cursor: pointer;
}

/* Optional: Additional styles for uniformity */
